<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Belajar Vuex</title>
</head>

<body>
    <div id="app">
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/vuex"></script>
    <script>

        const store = new Vuex.Store({
            strict: true,
            //mirip data
            state: {
                counter: 0,

            },

            //mirip computed
            getters: {
                counter(state) {
                    return state.counter
                }
            },

            //mirip methods, memanipulasi nilai dari state
            mutations: {
                increment(state, n) {

                    state.counter += n
                },
                decrement(state, n) {
                    state.counter -= n
                },

            },

            //support Async
            actions: {
                increment(context) {
                    setTimeout(() => {
                        context.commit('increment')
                    }, 5000)

                },

                decrement(context) {
                    context.commit('decrement')
                },
                mix(context) {
                    setTimeout(() => {
                        context.commit('increment', 5)
                        context.commit('decrement', 2)
                    }, 3000)
                }


            }
        })

        new Vue({
            el: '#app',
            /*  components: {
                 Component1, Component2
             }, */
            computed: {
                counter: function () {
                    return store.getters.counter
                }
            },

            //view
            template: `
            <div>
                <button @click="decrement()"> + </button>
                {{ counter }}
                <button @click="increment()"> + </button>
                <button @click="campur"> * </button>
            </div>
            `,

            //action
            methods: {
                increment() {
                    store.dispatch('increment')
                    //store.commit('increment', n)
                    //store.state.counter++
                },
                decrement() {
                    store.dispatch('decrement')
                    //store.commit('decrement')
                },
                campur() {
                    store.dispatch('mix')
                }

            }

        })
    </script>
</body>

</html>