<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Belajar Vuex</title>
</head>

<body>
    <div id="app">
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/vuex"></script>
    <script>

        const Component1 = {
            computed: {
                counter: function () {
                    return store.state.counter
                }
            },
            template: `
            <div> ini dari Component1 {{counter}} </div>
            `
        }

        const Component2 = {
            computed: {
                counter: function () {
                    return store.state.counter
                }
            },
            template: `
            <div> ini dari Component2 {{counter}} </div>
            `
        }

        const store = new Vuex.Store({
            strict: true,
            state: {
                counter: 0
            },
            mutations: {
                increment(state) {
                    state.counter++
                }
            }
        })

        new Vue({
            el: '#app',
            components: {
                Component1, Component2
            },
            computed: {
                counter: function () {
                    return store.state.counter
                }
            },

            //view
            template: `
            <div>
                <Component1></Component1>
                <Component2></Component2>
                <button @click="increment()"> + </button>
            </div>
            `,

            //action
            methods: {
                increment() {
                    store.commit('increment')
                    //store.state.counter++
                }
            }

        })
    </script>
</body>

</html>