<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        form {
            border: 1px solid #ddd;
            padding: 5px;
            width: 225px;
            background: #efefef;
        }

        label {
            display: block;
            margin-top: 5px;
        }

        input,
        textarea,
        select,
        option {
            min-width: 200px;
        }
    </style>

</head>

<body>
    <div id="app">

        <form @submit.prevent="validationForm()">
            <p v-if="errors.length">
                <b>Please correct the following errors :</b>
                <ul>
                    <li v-for="error in errors">{{ error }}</li>
                </ul>
            </p>
            <label>Title : </label>
            <input type="text" name="title" ref="title" v-model="title">
            <label>Description : </label>
            <textarea name="description" ref="description" v-model="description"></textarea>
            <br>
            <br>
            <input type="submit" value="SUBMIT">
        </form>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                title: '',
                description: '',
                errors: [],
            },
            methods: {
                validationForm: function () {
                    this.errors = []

                    if (this.title.length < 3) {
                        this.errors.push('Title minimal 3 karakter')
                        this.$refs.title.focus()
                    }

                    if (this.description.length > 5) {
                        this.errors.push('Deskripsi tidak boleh lebih dari 10 karakter')
                        this.$refs.description.focus()
                    }

                    if (this.description.length == 0) {
                        this.errors.push('Deskripsi harus diisi')
                        this.$refs.title.focus()
                    }
                }
            }
        })
    </script>

</body>

</html>