<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <button onclick="vm.openForm()">Open Form</button>
        <h1>{{ "Nilai a : " + a }}</h1>
        <h1>{{ "Rata-rata : " + rata}}</h1>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                a: 0,
                b: 0,
                c: 3,
                rata: 0,
            },
            methods: {
                openForm: function () {
                    this.b = prompt("Masukkan nilai a")
                    this.c = parseInt(this.c) + parseInt(this.b)
                    //this.c = this.c + this.b
                    // if (this.c <= 10) {
                    //     for (var i; i < c; i++) {
                    //         this.b = prompt("Masukkan nilai a")
                    //     }
                    //     this.c = this.c + this.b
                    // }
                    this.a = StringValueOf(this.c)

                }
            }
        })
    </script>
</body>

</html>