<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>


    <div class="container">
        <h3>Membuat Search Dengan VueJS</h3>
        <div id="app">
            <input v-model="query">
            <li v-for="(item, index) in result" v-bind:key="item.paket" v-bind:data-index="index">{{ item.paket }}
            </li>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        new Vue({
            el: "#app",
            data: {
                query: "",
                list: [
                    { paket: "Web Master" },
                    { paket: "Web Design" },
                    { paket: "Web Programming" },
                    { paket: "Graphic Design" },
                    { paket: "Mobile Apps" },
                    { paket: "Digital Marketing" }
                ],
                isSearching: false,
                result: []
            },
            watch: {
                query: function () {
                    var vm = this
                    this.isSearching = true;
                    setTimeout(function () {

                        vm.result = vm.list.filter(function (item) {
                            return item.paket.toLowerCase().indexOf(vm.query.toLowerCase()) !== -1
                        })
                    }, 500)
                }
            },
        });
    </script>
</body>

</html>