<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <!-- <div id="app">
       
        <component-test></component-test>
        <component-dua></component-dua>
    </div> -->

    <div id="app1">
        <h1>Blog yang dipilih : {{selectedBlog}}</h1>

        <blog-component v-for="blog in blogs" :blog="blog" @selected="selectedBlog = $event">
            <!-- <p>ini isi dari slot</p> -->
        </blog-component>

        <component-dua>

        </component-dua>

    </div>

    <!-- <template id="sambercode">
        <h3>Hallo Sambercode</h3>
    </template> -->

    <template id="component-dua">
        <p>{{pesan}}</p>
        <!-- <slot></slot>
        <p>ini isi dari slot Component Dua</p> -->
    </template>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>


    <!-- <script type="text/template" id="hello-dunia">
        <h1>Sambercode</h1>
    </script> -->

    <script>
        // registrasi global
        // Vue.component('component-test', {
        //     template: '#sambercode'
        // })

        Vue.component('ComponentDua', {
            template: '#component-dua',
            data() {
                return {
                    pesan: 'ini dari Component Dua'
                }
            }
        })

        //component child    
        var BlogComponent = {
            template: `
            <div>
                <h3>{{blog.title}} <button @click="$emit('selected', blog.title)">Pilih</button></h3>
                <p>{{blog.content}}</p>

                <br><br>
                
            </div>    
            `,
            data() {
                return {
                    pesan: 'ini dari Component Blog'
                }
            },
            props: ['blog']

        }

        //component utama
        const vm = new Vue({
            el: '#app1',
            components: {
                'blog-component': BlogComponent
            },
            data: {
                blogs: [
                    {
                        title: 'ini judul 1',
                        content: 'ini content 1'
                    },
                    {
                        title: 'ini judul 2',
                        content: 'ini content 2'
                    },
                ],
                selectedBlog: ''

            }
        })

        // var vm = new Vue({
        //     el: '#app',
        // })
    </script>
</body>

</html>