<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <template>
            <div>
                <form @submit.prevent="add">
                    <input type="text" v-model:value="newName">
                    <!-- <button type="submit" v-show="!updateSubmit">add</button> -->
                    <button @click="addName" v-show="!updateSubmit">Add</button>
                    <button type="button" v-show="updateSubmit" @click="updateName(user)">Update</button>
                </form>
                <ul>
                    <li v-for="user in user" :key="user.name">
                        <span>{{user.name}}</span> &#160;
                        <button @click="editName(user)">Edit</button> ||
                        <button @click="delName(user)">Delete</button>
                    </li>
                </ul>
            </div>
        </template>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data() {
                return {
                    form: {
                        name: '',
                    },
                    newName: "",
                    user: [
                        {
                            'name': 'Muhammad Iqbal Mubarok'
                        },
                        {
                            'name': 'Ruby Purwanti',
                        },
                        {
                            'name': 'Faqih Muhammad',
                        },
                    ],
                    updateSubmit: false
                }

            },
            mounted() {
                //  this.load()
            },
            methods: {
                addName: function () {
                    this.user.push({ 'name': this.newName });
                    this.newName = "";
                },
                editName(user) {

                    this.updateSubmit = true
                    this.newName = user.name
                    //let index = this.user.indexOf(user.name)
                },
                updateName(user) {
                    let index = this.user.indexOf(user.name)
                    this.user.splice(index, 1, this.newName);
                    //this.user.push({ 'name': this.newName });
                    this.newName = "";
                    this.updateSubmit = false;
                },
                delName(user) {
                    let index = this.user.indexOf(user.name)
                    let txt
                    let r = confirm("Anda Yakin ?")
                    if (r == true) {
                        this.user.splice(index, 1);
                    } else {
                        txt = "You pressed Cancel!";
                    }

                    //this.$delete(user, index);
                }
            }


        })
    </script>
</body>

</html>