<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div class="formInput">
            <input type="text" v-model="formUser"> {{formUser}}
            <button v-on:click="addUser" v-if="!buttonEditStatus">Add</button>
            <button v-on:click="updateUser" v-if="buttonEditStatus">Update</button>
        </div>
        <div class="userList">
            <ul v-for="(user , index) in reverseUser">
                <li :key="index">{{user.name}} ||
                    <button @click="editUser(index)">Edit</button>
                    <button @click="deleteUser(index)">Delete</button>
                </li>
            </ul>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        let vm = new Vue({
            el: '#app',
            data: {
                users: [
                    { name: 'Muhammad Iqbal Mubarok' },
                    { name: 'Ruby Purwanti' },
                    { name: 'Faqih Muhammad' },
                ],
                formUser: '',
                buttonEditStatus: false,
                idSelected: null
            },
            computed: {
                reverseUser: {
                    get: function () {
                        return this.users.slice().reverse()
                    },
                    set: function (value) {
                        this.users = value.slice().reverse()
                    }
                },
            },
            methods: {
                addUser: function () {
                    this.users.push(
                        { name: this.formUser }
                    )
                    this.formUser = ''
                    //console.log(this.formUser)
                },
                editUser: function (id) {
                    this.formUser = this.reverseUser[id].name
                    this.buttonEditStatus = true
                    this.idSelected = id
                },
                updateUser: function () {
                    this.reverseUser[this.idSelected].name = this.formUser
                    this.formUser = ''
                    this.buttonEditStatus = false
                },
                deleteUser: function (id) {
                    let confirmation = confirm("Anda Yakin ?")
                    if (confirmation) {
                        this.reverseUser = this.reverseUser.filter(function (item, index) {
                            return index != id
                        })
                    }
                }
            }
        })
    </script>
</body>

</html>